/* CSS Welcome Section */

#decoding {
    font-size: 25px;
    color: yellow;
    background-color:red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/***********************************************************/

/* CSS First Section */

/* fearture the spans */

span {
    font-size: 25px;
}
