/* CSS project - Start line */

#decoding {
    position: absolute;
    font-size: 25px;
    color: blue;
    background-color:red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}